#aboutme {
    text-align: center;
}

.aboutme-section-description {
    text-align: justify;
    margin-top: 20px;
}

.aboutme-icons {
    font-size: 20px;
    margin-top: 45px;
}

.aboutme-icons > a {
    text-decoration: none;
}

.aboutme-icon{
    margin: 10px;
    color: var(--titleSectionPrimaryColor)
}

.aboutme-icon:hover {
    cursor: pointer;
    color: var(--titleSectionTertiaryColor)
}